extends layout

block content
  h1= title
  .search 
    input.search__input(type="text" placeholder="Search for people" name="search")
    .search__results
      ul
      each name in names
        li #{name}
